<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [1]:

import pandas as pd

In [2]:

# ANSWER
rock = pd.read_csv('../DATA/rock.csv')
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [80]:
# ANSWER
rock.rename(columns=lambda col_name: col_name.lower().replace(" ", "_").replace("?", "").replace("*", ""), inplace=True)
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [6]:
# ANSWER
rock.release_year.isnull().any()
rock.release_year.isnull().sum()

np.int64(577)

In [81]:
rock['release_year'] = rock.release_year.fillna(0)

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

In [82]:
# ANSWER
rock.dtypes

song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

In [83]:
# rock['release_year'] = rock['release_year'].astype('int')


# To get integer column, use pd.NA -- integer version (type) of NaN
# Must use "Int64", "Int32", etc. (capital "I") as dtype instead of "int64", "int32", etc. 
rock['release_year'] = pd.to_numeric(rock.release_year, errors="coerce").fillna(pd.NA).astype('Int64')
rock.dtypes

song_clean      object
artist_clean    object
release_year     Int64
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [20]:
# ANSWER
print(rock.head())
for col in rock.columns:
    print(f"\n{col}: min = {rock[col].min()} | max = {rock[col].max()}")

# I do not see an illogical value, even though the question seems to imply there is one.
#  - Is it "a=ha" as the max value of artist_clean? I do not worry too much about string sorting
#  - I don't know what the 'year', 'first', and 'fg' columns represent

               song_clean artist_clean  release_year  \
0        Caught Up in You  .38 Special          1982
1            Fantasy Girl  .38 Special             0
2         Hold On Loosely  .38 Special          1981
3  Rockin' Into the Night  .38 Special          1980
4       Art For Arts Sake         10cc          1975

                                combined  first  year  playcount  fg
0        Caught Up in You by .38 Special      1     1         82  82
1            Fantasy Girl by .38 Special      1     0          3   0
2         Hold On Loosely by .38 Special      1     1         85  85
3  Rockin' Into the Night by .38 Special      1     1         18  18
4              Art For Arts Sake by 10cc      1     1          1   1

song_clean: min = #9 Dream | max = Ziggy Stardust

artist_clean: min = .38 Special | max = a-ha

release_year: min = 0 | max = 2014

combined: min = #9 Dream by John Lennon | max = Ziggy Stardust by David Bowie

first: min = 1 | max = 1

year: min = 0 | max = 1

playcount: min = 0 | max = 142

fg: min = 0 | max = 142

In [21]:
rock.artist_clean.unique()

array(['.38 Special', '10cc', '3 Doors Down', '4 Non Blondes', 'a-ha',
       'AC/DC', 'Ace', 'Adelitas Way', 'Aerosmith', 'Alanis Morissette',
       'Alannah Myles', 'Aldo Nova', 'Alice Cooper', 'Alice In Chains',
       'Allman Brothers Band', 'America', 'Animals II', 'Ann Wilson',
       'April Wine', 'Argent', 'Arlo Guthrie', 'Artful Dodger', 'Asia',
       'Atlanta Rhythm Section', 'Audioslave', 'Autograph', 'Axe',
       'Bachman-Turner Overdrive', 'Bad Company', 'Bad English',
       'Badfinger', 'Baton Rouge', 'Beastie Boys', 'Beck', 'Big Country',
       'Bill Haley', 'Bill Withers', 'Billy Idol', 'Billy Joel',
       'Billy Rankin', 'Billy Squier', 'Billy Thorpe', 'Black Sabbath',
       'Blackfoot', 'Blind Faith', 'Blind Melon', 'Blink-182', 'Blondie',
       'Blue Oyster Cult', 'Blur', 'Bob Dylan', 'Bob Marley', 'Bob Seger',
       'Bob Welch', 'Bon Jovi', 'Bonham', "Booker T. and the MG's",
       'Boston', 'Boz Scaggs', 'Brewer & Shipley',
       'Bruce Hornsby & The Range', 'Bruce Springsteen', 'Bryan Adams',
       'Buckcherry', 'Buffalo Springfield', 'Bush', 'Candlebox',
       'Canned Heat', 'Carole King', 'Cat Stevens',
       'Charlie Daniels Band', 'Cheap Trick', 'Chevelle', 'Chicago',
       'Chuck Berry', 'Cinderella', 'Clarks', 'Collective Soul',
       'Commander Cody', 'Coney Hatch', 'Counting Crows', 'Cracker',
       'Cream', 'Creed', 'Creedence Clearwater Revival',
       'Crosby, Stills & Nash', 'Crosby, Stills, Nash & Young',
       'Cutting Crew', 'Damn Yankees', 'Dave Edmunds', 'Dave Mason',
       'David & David', 'David Bowie', 'David Essex', 'David Gilmour',
       'David Johansen', 'David Lee Roth', 'Deep Purple', 'Def Leppard',
       'Depeche Mode', 'Derek & The Dominos', 'Detective', 'Dick Siegel',
       'Dio', 'Dire Straits', 'Dishwalla', 'Dobie Gray', 'Dokken',
       'Don Felder', 'Don Henley', 'Don McLean', 'Donnie Iris', 'Donovan',
       'Dr. Hook & the Medicine Show', 'Dr. John', 'Dramarama',
       'Led Zeppelin', 'Duran Duran', 'Eagles', 'Eddie Money',
       'Edgar Winter Group', 'Edwin Starr', 'Electric Light Orchestra',
       'Elton John', 'Elvin Bishop', 'Elvis Costello',
       'Emerson, Lake & Palmer', 'Eric Clapton', 'Eric Johnson', 'Europe',
       'Eurythmics', 'Eve 6', 'Everclear', 'Everlast', 'Extreme', 'Faces',
       'Faith No More', 'Faster Pussycat', 'Firm',
       'Five Man Electrical Band', 'Fleetwood Mac', 'Focus', 'Foghat',
       'Foo Fighters', 'Foreigner', 'Frank Zappa', 'Free', 'Funkadelic',
       'Gary Numan', 'Gary Wright', 'Genesis', 'George Harrison',
       'George Thorogood', 'Georgia Satellites', 'Gerry Rafferty',
       'Gin Blossoms', 'Glenn Frey', 'Gold Star Ballroom Orchestra',
       'Golden Earring', 'Gordon Lightfoot', "Gov't Mule",
       'Grand Funk Railroad', 'Grateful Dead', 'Great White', 'Green Day',
       'Greg Kihn Band', 'Gregg Allman', 'Guess Who', "Guns N' Roses",
       'Gypsy', 'Harold Faltermeyer', 'Harry Chapin', 'Harry Nilsson',
       'Head East', 'Heart', 'Heartsfield', 'HellYeah', 'Henry Paul Band',
       'Hollies', 'Honeymoon Suite', 'Hooters', 'Huey Lewis & The News',
       'Humble Pie', 'Iggy Pop', 'Imagine Dragons', 'INXS',
       'Iron Butterfly', 'Iron Maiden', 'J. Geils Band', 'Jackson Browne',
       'James Gang', 'JAMES TAYLOR', "Jane's Addiction", 'Janis Joplin',
       'Jay Ferguson', 'Jeff Beck', 'Jefferson Airplane',
       'Jefferson Starship', 'Jesus Jones', 'Jet', 'Jethro Tull',
       'Jim Croce', 'Jimi Hendrix', 'Jimmy Buffett', 'Joan Jett',
       'Joe Cocker', 'Joe Jackson', 'Joe Satriani', 'Joe Walsh',
       'John Cafferty', 'John Fogerty', 'John Lennon', 'John Mellencamp',
       'John Prine', 'Johnny Nash', 'Johnny Van Zant', 'Jonathan Edwards',
       'Jonathan Richman', 'Journey', 'Judas Priest', 'Junkyard',
       'Kansas', 'Kenny Loggins', 'Kenny Wayne Shepherd', 'Kid Rock',
       'Kingofthehill', 'Kings of Leon', 'Kiss', 'Krokus', 'L.A. Guns',
       'Lake', 'Lee Michaels', 'Legs Diamond', 'Lenny Kravitz',
       'Leon Russell', 'Lit', 'Lita Ford', 'Little Feat', 'Live',
       'Living Colour', 'Local H', 'London Symphony Orchestra',
       'Lou Gramm', 'Lou Reed', 'Loverboy', 'Lynch Mob', 'Lynyrd Skynyrd',
       "Mama's Pride", 'Manfred Mann', 'Marcy Playground', 'Meat Loaf',
       'Melissa Etheridge', 'Men At Work', 'Metallica', 'Michael Nesmith',
       'Michael Stanley', 'Midnight Oil', 'Mitch Ryder', 'Modern English',
       'Molkie Cole', 'Molly Hatchet', 'Monroes', 'Montrose',
       'Motley Crue', 'Mott the Hoople', 'Mountain', 'Moxy', 'Mr. Big',
       'Mungo Jerry', 'Nazareth', 'Neil Young', 'Nektar', 'Nickelback',
       'Night Ranger', 'Nirvana', 'Norman Greenbaum', 'Nothing More',
       'Oasis', 'Orleans', 'Otis Redding', 'Ozark Mountain Daredevils',
       'Ozzy Osbourne', 'Pat Benatar', 'Pat Travers',
       'Paul McCartney & Linda McCartney', 'Paul McCartney & Wings',
       'Paul Simon', 'Pearl Jam', 'Pete Townshend', 'Peter Frampton',
       'Peter Gabriel', 'Phil Collins', 'Pink Floyd', 'Poison',
       'Procol Harum', 'Puddle of Mudd', 'Pure Prairie League', 'Queen',
       'Queen / David Bowie', 'Queens of the Stone Age', 'Queensryche',
       'Quicksilver Messenger Service', 'Quiet Riot', 'R.E.M.', 'Rainbow',
       'Ram Jam', 'Ratt', 'Red Hot Chili Peppers', 'Red Rider',
       'REO Speedwagon', 'Rick Derringer', 'Rick Springfield',
       'Ringo Starr', 'Robert Palmer', 'Robert Plant', 'Robert Tepper',
       'Robin Trower', 'Rockets', 'Rocky Burnette', 'Rod Stewart',
       'Roger Daltry', 'Roger Hodgson', 'Rolling Stones',
       'Rory Gallagher', 'Royal Bliss', 'Rush', 'Russ Ballard', 'Saga',
       'Sam & Dave', 'Sammy Hagar', 'Santana', 'Scandal',
       'School Of Fish', 'Scorpions', 'Seether', 'Sex Pistols', 'Sherbs',
       'Shinedown', 'Simon & Garfunkel', 'Simple Minds', 'Skid Row',
       'Slaughter', 'Smash Mouth', 'Smashing Pumpkins',
       "Sniff 'n' the Tears", 'Soft Cell', 'Soundgarden',
       'Southside Johnny', 'Spencer Davis Group', 'Spin Doctors',
       'Squeeze', 'Staind', 'Starset', 'Stealers Wheel', 'Steely Dan',
       'Stephen Stills', 'Steppenwolf', 'Steve Earle',
       'Steve Miller Band', 'Steve Perry', 'Steve Winwood',
       'Steven Stills', 'Stevie Nicks',
       'Stevie Nicks w/ Tom Petty and the Heartbreakers',
       'Stevie Ray Vaughan', 'Stevie Wonder', 'Sting',
       'Stone Temple Pilots', 'Stray Cats', 'Stryper', 'Stu Nunnery',
       'Styx', 'Sublime', 'Sugar Ray', 'Sugarloaf', 'Supertramp',
       'Survivor', 'Sweet', 'T. Rex', 'Talking Heads', 'Taxxi',
       'Tears for Fears', 'Ted Nugent', 'Temple of the Dog',
       'Ten Years After', 'Tesla', 'The Alan Parsons Project',
       'The Alarm (IRS)', 'The Amboy Dukes', 'The Animals', "The B-52's",
       'The Babys', 'The Band', 'The Beach Boys', 'The Beatles',
       'The Black Crowes', 'The Black Keys', 'The Blues Brothers',
       'The Byrds', 'The Cars', 'The Clash', 'The Cult',
       'The Doobie Brothers', 'The Doors', 'The Fabulous Thunderbirds',
       'The Firm', 'The Fixx', 'The Goo Goo Dolls', 'The James Gang',
       'The Kings', 'The Kinks', 'The Knack', 'The Lemonheads',
       "The Lovin' Spoonful", 'The Mamas ', 'The Marshall Tucker Band',
       'The Moody Blues', 'The New Eagles', 'The Offspring',
       'The Outfield', 'The Outlaws', 'The Police', 'The Power Station',
       'The Pretenders', 'The Ramones', 'The Romantics',
       'The Small Faces', 'The Smithereens', 'The Spencer Davis Group',
       'The Standells', 'The Traveling Wilburys', 'The Tubes',
       'The Wallflowers', 'The White Stripes', 'The Who',
       'The Youngbloods', 'Thin Lizzy', 'Third Eye Blind',
       'Thunderclap Newman', 'Todd Rundgren', 'Tom Cochrane',
       'Tom Petty & The Heartbreakers', 'Tommy Tutone', 'Tonic', 'Toto',
       'Traffic', 'Trapeze', 'Triumph', 'Turtles', 'Twisted Sister', 'U2',
       'UB40', 'UFO', 'Uriah Heep', 'Van Halen', 'Van Morrison',
       'Violent Femmes', 'Vixen', 'War', 'Warrant', 'Warren Zevon',
       'Weezer', 'Wet Willie', 'White Lion', 'Whitesnake', 'Why Not',
       'Wild Cherry', 'Wildlife', 'Winger', 'Wishbone Ash', 'Y&T', 'Yes',
       'Zebra', 'Zombies', 'ZZ Top'], dtype=object)

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [34]:
# ANSWER
def print_row(row):
    when = "before" if row.release_year.item() < 1970 else "after"
    print(f'"{row.song_clean}" by {row.artist_clean} was released {when} 1970.')

print_row(rock.iloc[67])

1975
"Toys in the Attic" by Aerosmith was released after 1970.

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [4]:
# ANSWER
def convert_to_numeric(df, col_name):
    df[col_name] = pd.to_numeric(df[col_name], errors='coerce')

### Apply this last function to your dataset

In [5]:
# reset dataframe
rock = pd.read_csv('../DATA/rock.csv')
rock.rename(columns=lambda col_name: col_name.lower().replace(" ", "_").replace("?", "").replace("*", ""), inplace=True)

# apply function
convert_to_numeric(rock, "release_year")

rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

In [ ]:
rock.dtypes

### 'Describe' the new DataFrame

In [89]:
# ANSWER
rock.describe()

       release_year   first         year    playcount           fg
count   1652.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1978.019976     1.0     0.741256    16.872646    15.048430
std       24.191247     0.0     0.438043    25.302972    25.288366
min     1071.000000     1.0     0.000000     0.000000     0.000000
25%     1971.000000     1.0     0.000000     1.000000     0.000000
50%     1977.000000     1.0     1.000000     4.000000     3.000000
75%     1984.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---